<app-worksheet-layout titleKey="a.title" taglineKey="a.tagline" [stacked]="true">
  <ng-container ngProjectAs="[rail]">
    <app-rail-group titleKey="a.steps" hintKey="a.stepsHint" [hintParams]="{ min: minSteps, max: maxSteps }">
      <app-number-stepper [label]="'a.steps' | t" [value]="state.steps" [min]="minSteps" [max]="maxSteps" (valueChange)="setSteps($event)" />
    </app-rail-group>

    <app-rail-group titleKey="a.obstacles" hintKey="a.obstaclesHint" [hintParams]="{ max: maxObstacles }">
      <app-number-stepper [label]="'a.obstacles' | t" [value]="state.obstacles" [min]="0" [max]="maxObstacles" (valueChange)="setObstacles($event)" />
    </app-rail-group>

    <app-rail-group titleKey="a.characters" hintKey="a.charactersHint">
      <app-toggle-group [options]="pairOptions" [selected]="state.pairs" minMessageKey="a.minPairs" (selectedChange)="setPairs($event)" />
    </app-rail-group>

    <app-rail-group titleKey="m.sheet">
      <app-number-stepper captionKey="a.sheets" [value]="state.count" [min]="1" [max]="4" (valueChange)="setCount($event)" />
      <app-check-option labelKey="c.doneBox" [checked]="state.done" (checkedChange)="setDone($event)" />
    </app-rail-group>

    <app-sheet-actions [name]="state.name" [showGenerate]="true" hintKey="a.printerHint" (generate)="regenerate()" (nameChange)="setName($event)" (save)="save()" />

    <app-rail-group titleKey="m.saved">
      <app-saved-list [store]="store" [nameOf]="nameOf" (opened)="open($event)" />
    </app-rail-group>
  </ng-container>

  @for (p of state.puzzles; track $index) {
    <app-page-sheet [how]="'a.how' | t" [note]="p.obstacles?.length ? ('a.howObstacles' | t) : ''" [done]="state.done">
      <div class="puzzle">
        <ol class="steps">
          @for (step of p.steps; track $index) {
            <li>
              <span class="n">{{ step.len }}</span>
              <svg class="arrow" viewBox="-10 -10 20 20" aria-hidden="true">
                <g [attr.transform]="rotate(step.dir)">
                  <path d="M-7 0H6M1-5l5 5-5 5" />
                </g>
              </svg>
            </li>
          }
        </ol>

        <svg class="grid" [attr.viewBox]="viewBox(p)" [style.width.mm]="sizeMm()" [style.height.mm]="sizeMm()">
          @for (i of lines(p); track i) {
            <line class="gl" [attr.x1]="i" y1="0" [attr.x2]="i" [attr.y2]="p.size" />
            <line class="gl" x1="0" [attr.y1]="i" [attr.x2]="p.size" [attr.y2]="i" />
          }
          @for (o of p.obstacles ?? []; track $index) {
            <text class="obstacle" [attr.x]="o.x + 0.5" [attr.y]="o.y + 0.5">{{ o.pic }}</text>
          }
          <circle class="dot" [attr.cx]="p.start.x" [attr.cy]="p.start.y" r="0.2" />
          <circle class="dot" [attr.cx]="p.end.x" [attr.cy]="p.end.y" r="0.2" />
          <text class="pic" [attr.x]="p.start.x - 0.75" [attr.y]="p.start.y">{{ pairs[p.pair][0] }}</text>
          <text class="pic" [attr.x]="goalAt(p).x" [attr.y]="goalAt(p).y">{{ pairs[p.pair][1] }}</text>
        </svg>
      </div>
    </app-page-sheet>
  }
</app-worksheet-layout>
